body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f0f0;
  color: #0a0a0ab5;
}

header {
  background-color: #112fc6dd;
  color: rgba(7, 7, 7, 0.982);
  padding: 20px;
  text-align: center;
}

.login-area {
  margin-top: 15px;
}

.login-area input {
  padding: 8px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.login-area button {
  padding: 8px 12px;
  background-color: rgba(190, 168, 236, 0.582);
  color: #181865;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.banner img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.restaurantes {
  padding: 20px;
  text-align: center;
}

.restaurantes h2 {
  margin-bottom: 30px;
}

.card {
  background-color: rgba(239, 239, 241, 0.877);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(15, 0, 146, 0.434);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 5px;
}

.card button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #008cff;
  color: rgb(104, 101, 101);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #007ce2;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ece1e1;
  color: rgb(18, 17, 19);
}

/* Cardápio */
.cardapio {
  background-color: rgba(250, 249, 252, 0.495);
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-left: 5px solid #0073ff;
  box-shadow: 0 2px 5px rgba(55, 2, 247, 0.815);
}

.cardapio ul {
  list-style: none;
  padding: 0;
}

.cardapio ul li {
  padding: 10px 0;
  border-bottom: 1px solid #1e049089;
}

.cardapio button {
  margin-top: 15px;
  background-color: hsl(249, 91%, 54%);
  color: #333;
}

.hidden {
  display: none;
}
